<body>
    <div id="contenedor">
        <main>
            <section class="cards">
                <div class="card" *ngFor="let productos of listadoProductos">
                    <div>
                        <img [src]="productos.imagen"/>
                    </div>
                    <div class="nombre-producto" style="font-size: 1.5em">
                        <span>{{productos.nombre}}</span>
                    </div>
                    <div class="nombre-producto" style="font-size: 0.7em; color: #888">
                        <span>{{productos.descripcion}}</span>
                    </div>
                    <div class="precio-producto">
                        <span>{{productos.pvp}}€</span>
                    </div>
                </div>
            </section>
        </main>
    </div>
      
    
</body>
